name: Daily Clicks Report Automation

on:
  schedule:
    - cron: "55 12 * * *"   # runs daily at 12:55 PM UTC = 6:25 PM IST
  workflow_dispatch:

jobs:
  run-report:
    runs-on: ubuntu-latest
    env:
      REMOTE_MONGO_URI: ${{ secrets.REMOTE_MONGO_URI }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Change directory to 'automation' and run the script
        run: |
          cd automation
          python banana_satffattract_clicks.py $(date -u +"%Y-%m-%d")
